<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<!-- mobile settings -->
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<title>Database Project 3</title>
<link rel="icon" href="../static/assets/images/favicon.ico">

<!--Web font css-->
<!-- <link href="https://fonts.googleapis.com/css?family=Roboto:400,300,500,700,900" rel="stylesheet" type="text/css"> -->
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,600i,700,800" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Raleway:300,400,500,600,700,800" rel="stylesheet"> 
<link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Aladin" rel="stylesheet"> 
<!-- Bootstrap core CSS -->
<link href="../static/assets/css/bootstrap.css" rel="stylesheet">

<!--Custom CSS-->
<link href="../static/assets/css/animate.min.css" rel="stylesheet">
<link href="../static/assets/css/master.css" rel="stylesheet">
<script src="../static/assets/js/wow.min.js"></script>
<!--Icon font css-->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"> 

<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<![endif]-->

</head>

<style>
table, th, td {
  border: 1px solid black;
  padding: 6px!Important;
  text-align:center;
}
</style>

<body>

<!-- header section -->
	<header class="main-header" id="home">
		<nav class="navbar margin-0">
			<div class="container">
				<div class="navbar-header text-white">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>	
					<a class="navbar-brand" href="#">DB Portal</a>
				</div>
				<div id="navbar" class="navbar-collapse collapse">
					<ul class="nav navbar-nav navbar-right">
						<li><a class="nav-link" href="index.html#home">home</a></li>
						<li><a class="nav-link" href="index.html#assignments">Project</a></li>
						<li><a class="nav-link" href="aboutus.html">About Us</a></li>
					</ul>
				</div>
			</div>	
		</nav>
	</header>

<!-- Intro section -->
	<section class="welcome-section text-center">
		<div class="container">
			<div class="welcome-text">
				<h2 class="wow flip" data-wow-duration="1000ms" data-wow-delay="300ms">CS532 - Database Systems<br/>IMDB Data Analysis</h2>
			</div>
		</div>
	</section>

<!-- assignments-section -->
	<section class="assignmets-section" id="assignments">
		<div class="container">
			<h2 class="section-heading text-center wow fadeIn" data-wow-duration="1000ms" data-wow-delay="500ms">Project 3</h2>
			<p class="section-intro text-center wow fadeIn" data-wow-duration="1000ms" data-wow-delay="600ms">This section consists the links to the individual page of queries included in Project 3</p>
			<div class="row">
				<div class="wow bounceInRight" data-wow-duration="1000ms" data-wow-delay="700ms">
					<div class="assignment-content wow fadeIn" data-wow-duration="1000ms" data-wow-delay="500ms">
						<table style="width:100%">
						  <tr>
							<th style="text-align:center">Sr. No.</th>
							<th style="text-align:center">Query</th>
							<th style="text-align:center">Links</th> 
						  </tr>
						  <tr>
							<td>1</td>
							<td>List of movies yearly</td>
							<td><a href="query1.html">View</a></td>
						  </tr>
						   <tr>
							<td>2</td>
							<td>List of movies based on genre</td>
							<td><a href="query2.html">View</a></td>
						  </tr>
						   <tr>
							<td>3</td>
							<td>List of actors and the number of movies starred by the actor</td>
							<td><a href="query3.html">View</a></td>
						  </tr>
						   <tr>
							<td>4</td>
							<td>Visualizing the top 10 movie genre on each year</td>
							<td><a href="query4.html">View</a></td>
						  </tr>
						   <tr>
							<td>5</td>
							<td>Correlation analysis between movie rating and movie revenue</td>
							<td><a href="query5.html">View</a></td>
						  </tr>
						   <tr>
							<td>6</td>
							<td>Number of profit-loss movie revenue in each year</td>
							<td><a href="query6.html">View</a></td>
						  </tr>
						   <tr>
							<td>7</td>
							<td>Movies to watch based on ratings</td>
							<td><a href="query7.html">View</a></td>
						  </tr>
						  <tr>
							<td>8</td>
							<td>Actor’s popularity on each movie</td>
							<td><a href="query8.html">View</a></td>
						  </tr>
						  <tr>
							<td>9</td>
							<td>Relationship network analysis between actors</td>
							<td><a href="query9.html">View</a></td>
						  </tr>
						</table>	
					</div>
				</div>	
			</div>
		</div>
	</section>

<!--footer-->
<footer class="main-footer text-center">
	<div class="container">
		<div class="copyright">
			<p>&copy; 2020 Rohan Ravindra Saraf and Satrio Baskoro Yudhoatmojo, SUNY Binghamton.</p>
		</div>
	</div>	
</footer>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script> 
<script src="../static/assets/js/wow.min.js"></script>
<script>
	jQuery(function($) {

		//Initiat WOW JS
		new WOW().init();
	});
</script>
</body>
</html>