<!DOCTYPE html>
<html lang="en">
<head>
{% block head %}
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<!-- mobile settings -->
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<title>{% block title %}{% endblock %}</title>
<link rel="icon" href="../static/assets/images/favicon.ico">

<!--Web font css-->
<!-- <link href="https://fonts.googleapis.com/css?family=Roboto:400,300,500,700,900" rel="stylesheet" type="text/css"> -->
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,600i,700,800" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Raleway:300,400,500,600,700,800" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Aladin" rel="stylesheet">

<!-- Bootstrap core CSS -->
<link href="../static/assets/css/bootstrap.css" rel="stylesheet">

<!-- Jquery core CSS -->
<script src="../static/assets/js/jquery.js"></script>

<!--Custom CSS-->
<link href="../static/assets/css/Chart.min.css" rel="stylesheet">
<link href="../static/assets/css/animate.min.css" rel="stylesheet">
<link href="../static/assets/css/master.css" rel="stylesheet">
<script src="../static/assets/js/Chart.min.js"></script>
<script src="../static/assets/js/wow.min.js"></script>
<script src="../static/assets/js/year-select.js"></script>
<!--Icon font css-->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
{% endblock %}
</head>

<style>
.assignmets-section1 {
    padding: 40px 0 800px 0;
}

table, th, td {
	border: 1px solid black;
	padding: 6px!Important;
	text-align:center;
}
</style>

<body>
<!-- header section -->
<header class="main-header" id="home">
	<nav class="navbar margin-0">
		<div class="container">
			<div class="navbar-header text-white">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="/">DB Portal</a>
			</div>
			<div id="navbar" class="navbar-collapse collapse">
				<ul class="nav navbar-nav navbar-right">
					<li><a class="nav-link" href="/index">home</a></li>
					<li><a class="nav-link" href="/movies_on_year">Query 1</a></li>
					<li><a class="nav-link" href="/movies_on_genres">Query 2</a></li>
					<li><a class="nav-link" href="/actors">Query 3</a></li>
					<li><a class="nav-link" href="/top_ten_movies">Query 4</a></li>
					<li><a class="nav-link" href="/movies_rating_vs_revenue">Query 5</a></li>
					<li><a class="nav-link" href="/movies_revenues">Query 6</a></li>
					<li><a class="nav-link" href="/movies_on_ratings">Query 7</a></li>
					<li><a class="nav-link" href="query8.html">Query 8</a></li>
					<li><a class="nav-link" href="query9.html">Query 9</a></li>
				</ul>
			</div>
		</div>
	</nav>
</header>
{% block content %}
<!-- Add your stuff for the Movies here -->
{% endblock %}

<!--footer-->
<footer class="main-footer text-center">
    {% block footer %}
	<div class="container">
		<div class="copyright">
			<p>&copy; 2020 Rohan Ravindra Saraf and Satrio Baskoro Yudhoatmojo, SUNY Binghamton.</p>
		</div>
	</div>
    {% endblock %}
</footer>

</body>