{% extends 'layout.html' %}
{% block title %} DB-3 Query 1 {% endblock %}
{% block content %}
<!-- assignments-section -->
<section class="assignmets-section1" id="assignments">
	<div class="container">
		<h2 class="section-heading text-center">Query 1</h2>
		<p class="section-intro text-center">Desc for the Query 1</p>
		<div class="row">
			<div>
				<div class="assignment-content">
                    <!-- Add your stuff for the Movies here -->
                    <div align="center">
                        <label for="years">Choose movie release year:</label>
                        <form action="/movies_on_year" method="post">
                            <select id="years" name="years">
                                {% for year in years %}
                                <option value="{{ year }}">{{ year }}</option>
                                {% endfor %}
                            </select>
                            <input type="submit" value="Submit"/>
                        </form>
                    </div>

                    {% if year %}
                    <br />
                    <h3 align="center">List of Movies in Year {{ year }}</h3>
                    <br />
                    <table style="width:100%">
                      <tr>
                        <th style="text-align:center">No.</th>
                        <th style="text-align:center">Movie Title</th>
                        <th style="text-align:center">Director Name</th>
                          <th style="text-align:center">Content Rating</th>
                          <th style="text-align:center">Duration</th>
                          <th style="text-align:center">Language</th>
                          <th style="text-align:center">Country</th>
                          <th style="text-align:center">Genres</th>
                          <th style="text-align:center">IMDB Score</th>
                      </tr>
                        {% for k, v in data.items() %}
                      <tr>
                        <td>{{ loop.index}}</td>
                        <td>{{ v['movie_title'] }}</td>
                        <td>{{ v['director_name'] }}</td>
                          <td>{{ v['content_rating'] }}</td>
                          <td>{{ v['duration'] }}</td>
                          <td>{{ v['language'] }}</td>
                          <td>{{ v['country'] }}</td>
                          <td>{{ v['genres'] }}</td>
                          <td>{{ v['imdb_score'] }}</td>
                      </tr>
                    {% endfor %}
                    </table>
                    {% endif %}
				</div>
			</div>
		</div>
	</div>
</section>
{% endblock %}
