{% extends 'layout.html' %}
{% block title %} DB-3 Query 6 {% endblock %}
{% block content %}
<!-- assignments-section -->
<section class="assignmets-section1" id="assignments">
	<div class="container">
		<h2 class="section-heading text-center">Query 6</h2>
		<p class="section-intro text-center">Desc for the Query 6</p>
		<div class="row">
			<div>
				<div class="assignment-content">
					<!-- Add your stuff for the Movies here -->
                    {% if labels %}
                        <div id="container" style="width: 100%;" align="center">
                            <canvas id="chart" width="800" height="400"></canvas>
                            <script>
                                var chart = document.getElementById("chart")

                                var budgetData = {
                                    label: "Average Budget",
                                    type: "bar",
                                    data: [{% for budget in avg_budget %} {{ budget }}, {% endfor %}],
                                    backgroundColor: "pink",
                                    borderColor: "red",
                                    borderWidth: 1,
                                    barThickness: 'flex',
                                    yAxisID: "y-axis-budget"
                                };

                                var grossData = {
                                    label: "Average Gross Income",
                                    type: "bar",
                                    data: [{% for gross in avg_gross %} {{ gross }}, {% endfor %}],
                                    backgroundColor: "lightblue",
                                    borderColor: "blue",
                                    borderWidth: 1,
                                    barThickness: 'flex',
                                    yAxisID: "y-axis-gross"
                                };

                                 var barChart = new Chart(chart, {
                                    type: 'bar',
                                    data: {
                                        labels: [{% for item in labels %} "{{ item }}", {% endfor %}],
                                        datasets: [budgetData, grossData],
                                    },
                                    options: {
                                        responsive: true,
                                        legends: { position: "top" },
                                        title: {
                                            display: true,
                                            text: "Average Budget Vs. Average Gross Income of Movies Throughout the Years"
                                        },
                                        scales: {
                                            yAxes: [{
                                                stacked: true,
                                                position: "right",
                                                id: "y-axis-budget"
                                            }, {
                                                stacked: true,
                                                position: "left",
                                                id: "y-axis-gross"
                                            }]
                                        }
                                    }
                                });
                            </script>
                        </div>
                    {% endif %}
				</div>
			</div>	
		</div>
	</div>
</section>
{% endblock %}