{% extends 'layout.html' %}
{% block title %} DB-3 Query 5 {% endblock %}
{% block content %}
<!-- assignments-section -->
<section class="assignmets-section1" id="assignments">
	<div class="container">
		<h2 class="section-heading text-center">Correlation analysis between movie rating and movie revenue</h2>
		<p class="section-intro text-center">Visualizing the relation between the IMDB Score and Gross Income of the movie using bar chart and line chart. This helps us to conclude some information about how much the movie has earned as compared to IMDB Score.</p>
		<div class="row">
			<div>
				<div class="assignment-content">
					<!-- Add your stuff for the Movies here -->
                    <div align="center">
                        <form action="/movies_rating_vs_revenue" method="post">
                            <label for="years">Choose movie release year:</label>
                            <select id="years" name="years">
                                {% for year in years %}
                                <option value="{{ year }}">{{ year }}</option>
                                {% endfor %}
                            </select>
                            <input type="submit" value="Submit"/>
                        </form>
                    </div>
                    {% if year %}
                        <canvas id="chart" width="300" height="300"></canvas>
                        {% if year %}
                            <script>
                                var chart = document.getElementById("chart");

                                var ratingData = {
                                    label: 'IMDB Score',
                                    type: "line",
                                    borderColor: "pink",
                                    borderWidth: 2,
                                    pointBackgroundColor: "red",
                                    yAxisID: "y-axis-rating",
                                    fill: false,
                                    data: [{% for score in imdb_score %} {{ score }}, {% endfor %}]
                                };

                                var grossData = {
                                    label: 'Gross Income',
                                    type: "bar",
                                    backgroundColor: "lightblue",
                                    borderColor: "blue",
                                    borderWidth: 1,
                                    barThickness: 'flex',
                                    yAxisID: "y-axis-gross",
                                    data: [{% for income in gross %} {{ income }}, {% endfor %}]
                                };

                                var fifty = 0.5;
                                var min_value_gross = {{ gross | min }} * fifty;

                                var barChart = new Chart(chart, {
                                    type: 'bar',
                                    data: {
                                        labels: [{% for item in labels %} "{{ item }}", {% endfor %}],
                                        datasets: [ratingData, grossData],
                                    },
                                    options: {
                                        title: {
                                            display: true,
                                            text: "Correlation Analysis Between Movie Rating and Movie Revenue in Year {{ year }}",
                                            fontSize: 18,
                                            fontStyle: "bold"
                                        },
                                        scales: {
                                            xAxes: [{
                                                scaleLabel: {
                                                    display: true,
                                                    labelString: "Movie Title",
                                                    fontSize: 18,
                                                    fontStyle: "bold"
                                                }
                                            }],
                                            yAxes: [{
                                                scaleLabel: {
                                                    display: true,
                                                    labelString: "IMDB Score",
                                                    fontSize: 18,
                                                    fontStyle: "bold"
                                                },
                                                position: "right",
                                                ticks: { beginAtZero: true, min: 0, max: 10 },
                                                id: "y-axis-rating"
                                            }, {
                                                scaleLabel: {
                                                    display: true,
                                                    labelString: "Gross Income",
                                                    fontSize: 18,
                                                    fontStyle: "bold"
                                                },
                                                position: "left",
                                                ticks: { min: {{ gross | min }} },
                                                id: "y-axis-gross"
                                            }]
                                        }
                                    }
                                });
                            </script>
                        {% endif %}
                    {% endif %}
				</div>
			</div>	
		</div>
	</div>
</section>
{% endblock %}