{% extends 'layout.html' %}
{% block title %} DB-3 Query 3 {% endblock %}
{% block content %}
<!-- assignments-section -->
<section class="assignmets-section1" id="assignments">
	<div class="container">
		<h2 class="section-heading text-center">List of actors and the number of movies starred by the actor</h2>
		<p class="section-intro text-center">List all the actor names and number of movies they have starred in as per current dataset.</p>
		<div class="row">
			<div>
				<div class="assignment-content">
					<!-- Add your stuff for the Movies here -->
                    <h3 align="center">List of Actors and The Number of Movies They Starred In</h3>
                        <br />
                        <table style="width:100%">
						  <tr>
							<th style="text-align:center">No.</th>
							<th style="text-align:center">Actor Name</th>
							<th style="text-align:center">Number of Movies</th>
						  </tr>
                            {% for k, v in actors.items() %}
						  <tr>
							<td>{{ loop.index}}</td>
							<td>{{ v['actor_name'] }}</td>
							<td>{{ v['movie_count'] }}</td>
						  </tr>
                        {% endfor %}
						</table>
				</div>
			</div>	
		</div>
	</div>
</section>
{% endblock %}