{% extends 'layout.html' %}
{% block title %} DB-3 Query 8 {% endblock %}
{% block content %}
<!-- assignments-section -->
<section class="assignmets-section1" id="assignments">
	<div class="container">
		<h2 class="section-heading text-center">Query 8</h2>
		<p class="section-intro text-center">Desc for the Query 8</p>
		<div class="row">
			<div>
				<div class="assignment-content">
					<!-- Add your stuff for the Movies here -->
				</div>
			</div>	
		</div>
	</div>
</section>
{% endblock %}</body>