<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<!-- mobile settings -->
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<title>DB-3 Query 2</title>
<link rel="icon" href="../static/assets/images/favicon.ico">

<!--Web font css-->
<!-- <link href="https://fonts.googleapis.com/css?family=Roboto:400,300,500,700,900" rel="stylesheet" type="text/css"> -->
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,600i,700,800" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Raleway:300,400,500,600,700,800" rel="stylesheet"> 
<link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Aladin" rel="stylesheet"> 

<!-- Bootstrap core CSS -->
<link href="../static/assets/css/bootstrap.css" rel="stylesheet">

<!-- Jquery core CSS -->
<script src="../static/assets/js/jquery.js"></script>

<!--Custom CSS-->
<link href="../static/assets/css/animate.min.css" rel="stylesheet">
<link href="../static/assets/css/master.css" rel="stylesheet">
<script src="../static/assets/js/wow.min.js"></script>
<script src="../static/assets/js/year-select.js"></script>
<!--Icon font css-->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"> 

</head>

<style>
.assignmets-section1 {
    padding: 40px 0 800px 0;
}

table, th, td {
	border: 1px solid black;
	padding: 6px!Important;
	text-align:center;
}
</style>

<body>
<!-- header section -->
<header class="main-header" id="home">
	<nav class="navbar margin-0">
		<div class="container">
			<div class="navbar-header text-white">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>	
				<a class="navbar-brand" href="index.html">DB Portal</a>
			</div>
			<div id="navbar" class="navbar-collapse collapse">
				<ul class="nav navbar-nav navbar-right">
					<li><a class="nav-link" href="index.html#home">home</a></li>
					<li><a class="nav-link" href="query1.html">Query 1</a></li>
					<li><a class="nav-link" href="query2.html">Query 2</a></li>
					<li><a class="nav-link" href="query3.html">Query 3</a></li>
					<li><a class="nav-link" href="query4.html">Query 4</a></li>
					<li><a class="nav-link" href="query5.html">Query 5</a></li>
					<li><a class="nav-link" href="query6.html">Query 6</a></li>
					<li><a class="nav-link" href="query7.html">Query 7</a></li>
					<li><a class="nav-link" href="query8.html">Query 8</a></li>
					<li><a class="nav-link" href="query9.html">Query 9</a></li>
				</ul>
			</div>
		</div>	
	</nav>
</header>
	
<!-- assignments-section -->
<section class="assignmets-section1" id="assignments">
	<div class="container">
		<h2 class="section-heading text-center">Query 2</h2>
		<p class="section-intro text-center">Desc for the Query 2</p>
		<div class="row">
			<div>
				<div class="assignment-content">
					<!-- Add your stuff for the Movies here -->
                    <div align="center">

                        <form action="/movies_on_genres" method="post">
                            <label for="years">Choose movie release year:</label>
                            <select id="years" name="years">
                                {% for year in years %}
                                <option value="{{ year }}">{{ year }}</option>
                                {% endfor %}
                            </select>

                            <label for="genres">Choose movie genres:</label>
                            <select id="genres" name="genres">
                                {% for genre in genres %}
                                <option value="{{ genre }}">{{ genre }}</option>
                                {% endfor %}
                            </select>

                            <input type="submit" value="Submit"/>
                        </form>
                    </div>
				</div>
			</div>	
		</div>
	</div>
</section>
	
<!--footer-->
<footer class="main-footer text-center">
	<div class="container">
		<div class="copyright">
			<p>&copy; 2020 Rohan Ravindra Saraf and Satrio Baskoro Yudhoatmojo, SUNY Binghamton.</p>
		</div>
	</div>	
</footer>

</body>