{% extends 'layout.html' %}
{% block title %} DB-3 Query 4 {% endblock %}
{% block content %}
<!-- assignments-section -->
<section class="assignmets-section1" id="assignments">
	<div class="container">
		<h2 class="section-heading text-center">Visualizing the top 10 movies on specific year</h2>
		<p class="section-intro text-center">Visualizing the Top 10 movies on user selected year using bar chart.</p>
		<div class="row">
			<div>
				<div class="assignment-content">
					<!-- Add your stuff for the Movies here -->
                    <div align="center">
                        <label for="years">Choose movie release year:</label>
                        <form action="/top_ten_movies" method="post">
                            <select id="years" name="years">
                                {% for year in years %}
                                <option value="{{ year }}">{{ year }}</option>
                                {% endfor %}
                            </select>
                            <input type="submit" value="Submit"/>
                        </form>
                    </div>
                    {% if year %}
                        <canvas id="chart" width="400" height="300"></canvas>
                        {% if year %}
                            <script>
                                var chart = document.getElementById("chart");

                                var movieData = {
                                    label: 'IMDB Score',
                                    type: "bar",
                                    backgroundColor: "lightgreen",
                                    borderColor: "green",
                                    borderWidth: 1,
                                    barThickness: 'flex',
                                    data: [{% for score in values %} {{ score }}, {% endfor %}]
                                };

                                var barChart = new Chart(chart, {
                                    type: 'bar',
                                    data: {
                                        labels: [{% for item in labels %} "{{ item }}", {% endfor %}],
                                        datasets: [movieData],
                                    },
                                    options: {
                                        responsive: true,
                                        legends: { position: "top" },
                                        title: {
                                            display: true,
                                            text: "Top 10 Movies in {{ year }} Based on IMDB Score",
                                            fontSize: 18,
                                                    fontStyle: "bold"
                                        },
                                        scales: {
                                            xAxes: [{
                                                scaleLabel: {
                                                    display: true,
                                                    labelString: "Movie Title",
                                                    fontSize: 18,
                                                    fontStyle: "bold"
                                                }
                                            }],
                                            yAxes: [{
                                                scaleLabel: {
                                                    display: true,
                                                    labelString: "IMDB Score",
                                                    fontSize: 18,
                                                    fontStyle: "bold"
                                                },
                                                ticks: { beginAtZero: true, min: 0, max: 10 }
                                            }]
                                        }
                                    }
                                });
                            </script>
                        {% endif %}
                    {% endif %}
				</div>
			</div>	
		</div>
	</div>
</section>
{% endblock %}